<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Video Stream</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/jmuxer.min.js">
    </script>
</head>
<body>
    <input type="hidden" id="ip" value="$ip">
    <input type="hidden" id="port" value="$port">
    <div id="streamStage">

        <div id="topBar" class="bar">
            <div id="controls">
                <div id="latLon"></div>
            </div>


            <div id="controls">
                <div id="controlText">
                    <label for="exposureSpinner">EXPOSURE:</label>
                    <input id="exposureSpinner" class="controlSpinner" type="number" min="100" max="20000" value="$exposure" step="100">
                </div>
                <div id="controlText">
                    <label for="framerateSpinner">FRAMERATE:</label>
                    <input id="framerateSpinner" class="controlSpinner" type="number" min="1" max="30" value="$fps" step="1">
                </div>
            </div>
            <div id="controls">
                <input type="text" id="videoFile" name="videoFile" placeholder="Filename" onchange="sendFilename(this.value)">
                <button id="recordButton">Start</button>
                <button id="fileManagerButton" onclick="openFileManager()">File Manager</button>
            </div>
        </div>

        

        <div id="video-container">
            <video autoplay muted id="stream"></video>
            <canvas id="canvas"></canvas>
            <svg id="depth-gauge"">
                <circle id="ideal-depth" class="gauge" cx="50%" cy="50%" r="50"></circle>
                <circle id="current-depth" class="gauge" cx="50%" cy="50%" r="50"></circle>
            </svg>
        </div>

        <div id="bottomBar" class="bar">
            <div id="controls">
                <div id="statusText"></div>
            </div>
            
        </div>
        
    </div>

    <script src="static/javascript/main.js"></script>
    <script src="static/javascript/xhr.js"></script>
    <script src="static/javascript/status.js"></script>
    <script src="static/javascript/record.js"></script>
    <script src="static/javascript/gauge.js"></script>
    <script src="static/javascript/spinner.js"></script>
</body>
</html>
